h1 {
  font-family: Arial;
  color: #FD3774;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

.CreationProfil {
  font-family: Arial;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Creation {
  margin: 15px;
}

.CreationInterets {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.Content {
  margin: 5px;
  border-radius: 15px;
  text-align: center;
}

.Divboutonajouter {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  font-family: Arial;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  height: 30px;
  background: #FD3774;
}
