<h1>Création d'un nouveau profil</h1>
<div class="CreationProfil">Veuillez rentrer vos informations de profil:
  <label class="Creation">Nom:
    <input class="Content" type="text" [(ngModel)]="nom" (ngModelChange)="change()"
           (keydown.enter)="clic()">
  </label>
  <label class="Creation"> Prénom :
    <input class="Content" type="text" [(ngModel)]="prenom" (ngModelChange)="change()"
           (keydown.enter)="clic()">
  </label>
  <label class="Creation"> Url de votre photo de profil :
    <input class="Content" type="text" [(ngModel)]="photoUrl" (ngModelChange)="change()"
           (keydown.enter)="clic()">
  </label>
  <label class="CreationInterets"> Indiquez vos trois centres d'intérêts les plus importants :
    <input class="Content" type="text" [(ngModel)]="interet1" (ngModelChange)="change()"
           (keydown.enter)="clic()">
    <input class="Content" type="text" [(ngModel)]="interet2" (ngModelChange)="change()"
           (keydown.enter)="clic()">
    <input class="Content" type="text" [(ngModel)]="interet3" (ngModelChange)="change()"
           (keydown.enter)="clic()">
  </label>
</div>
<div class="Divboutonajouter">
  <button class="Valider" (click)="clic()" [disabled]="disabled">Créer mon profil</button>
</div>
