.match {
  background: lightgray;
  box-shadow: lightgray 0px 0px 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

button {
  color: white;
  font-family: Arial;
  font-size: 12px;
  border-radius: 5px;
  margin: 10px;
  height: 35px;
  width: 50px;
  border: none;
}

.Like {
  background: green;
}

.Dislike {
  background: red;
}
