.Titre2 {
  font-family: Arial;
  color: #FD3774;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

.Statistiques {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

app-stats-graphique {
  margin: 10px;
}

app-stats-liste {
  margin: 10px;
}
