.ListeProfils {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Profils {
  margin: 20px;
  align-content: center;
}

.ListeDeroulante {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

select {
  width: 150px;
}
