<div class="ListeDeroulante">
  <select>
    <option *ngFor=" let interet of interets">{{interet.nom}}</option>
  </select>
</div>
<div class="ListeProfils">

  <div class="Profils" *ngFor="let profil of profils">
    <app-profil [profil]="profil" [nom]="profil.nom" [prenom]="profil.prenom" [photoUrl]="profil.photoUrl"
                [idInterets]="profil.interets"></app-profil>
    <app-match [matchId]="profil.id"></app-match>
  </div>
</div>
