.Profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.Interets {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Name {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}

.PhotoProfil {
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
}
