<div class="Profil">
  <p class="Name">{{prenom}} {{nom}}</p>
  <img class="PhotoProfil" src="{{photoUrl}}"/>
  <div class="Interets"> Ces intérêts:
    <ul>
      <li *ngFor="let interet of idInterets">{{interet}}</li>
    </ul>
  </div>
</div>
