.Logo{
  width: 100px;
  height: 70px;
}
.TitreSite{
  font-family: Arial;
  font-size:25px;
  margin-right: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 25px;
}
.StatsHomePage{
  font-family: Arial;
  font-size: 15px;
  margin-top: 30px;
  text-decoration: none;
}
.Admin{
  margin-top: 30px;
  margin-right: 10px;
}
.AdminLien{
  font-family: Arial;
  font-size: 15px;

  text-decoration: none;
}
.Zinderstats{
  display: flex;
  flex-direction: row;
  text-align: center;

}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: gainsboro 1px solid;
}
