<header>
  <div class="Header">
    <div class="Zinderstats">
      <img class="Logo" src="https://pic.clubic.com/v1/images/1698019/raw"/>
      <a class="TitreSite" routerLink="" routerLinkActive="active">ZINDER</a>
      <a class="StatsHomePage" routerLink="/stats" routerLinkActive="active">statistiques</a>
    </div>
    <div class="Admin">
      <a  class="AdminLien" routerLink="/admin" routerLinkActive="active">Administration</a>
    </div>
  </div>

</header>
<router-outlet></router-outlet>
