.CamembertTot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Legendes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.LegendeLike {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.LegendeNope {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Like {
  background: green;
  width: 15px;
  height: 10px;
  margin-top: 15px;
}

.Dislike {
  background: red;
  width: 15px;
  height: 10px;
  margin-top: 15px;
}

.TextLegende {
  font-family: Arial;
  font-size: 12px;
  margin-left: 5px;
}

.pie {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: green;
  background-image: linear-gradient(to right, transparent 50%, red 0);
}
