<div class="CamembertTot">
  <div class="Legendes">
    <div class="LegendeLike">
      <label class="Like"></label>
      <p class="TextLegende">Like</p>
    </div>
    <div class="LegendeNope">
      <label class="Dislike"></label>
      <p class="TextLegende">Nope</p>
    </div>
  </div>
  <div class="pie"></div>
</div>
