html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
footer {
  font-family: Arial;
  position: absolute; bottom: 0; left: 0; right: 0;
  background: #FD3774;
}
.PiedPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
